#image{
    width: 80%;
    align-items: center;
}
.nav-item{
color: aliceblue;
}
.text-center{
    font-style: oblique;
    font-family: serif;
}

.buttonRight{
    margin-right:-90% ;
}

.chatRoom{
    margin-bottom: 30%;
}
.chatHeight{
    display: block;
    height: 350px;
  
}